/* 
 * Body
 */

.generating-pdf * {
  /* when generating PDF, disable transitions so colors/view is not transient */
  transition: all 0s ease 0s !important;
}

body {
  margin: 0px;
}


/* 
 * Appbar
 */

.appbar .title {
  font-family: 'Kalam', cursive;
  cursor: pointer;
}


/* 
 * About
 */

.small {
  font-size: 0.5em;
}

.info-page {
  font-size: 18px;
  padding: 10px 80px 30px;
}

.info-page h2 {
  color: #0054a8;
  font-family: 'Montserrat', sans-serif;
  font-size: 30px;
  margin-top: 45px;
  margin-bottom: 25px;
}

.credits-list {
  list-style-type: none;
}
.credits-list li {
  margin: 5px 0;
}

.pdf-list {
  font-weight: bold;
}

.instructions-list li {
  margin: 5px 0;
}

.changelog-list li {
  margin: 10px 0;
}

.changelog-date {
  font-weight: bold;
  color: #0054A8;
}

.about-drawer a.changelog-song-name {
  color: #4CC4FF;
  font-weight: bold;
}

.calls-style {
  font-weight: 600;
  color: #e24400;
}

.instructions-style {
  font-weight: 600;
  color: #9327cb;
}

.notes-style {
  font-style: italic;
  color: #2751cb;
}

.about-drawer a {
  text-decoration: none;
  color: #337ab7;
}
.about-drawer a:hover {
  text-decoration: underline;
}


/* 
 * Game
 */

#game {
  top: 64px;
  position: absolute;
  width: 100%;
  overflow-y: auto;
  height: calc(100% - 64px);
}

#song-name {
  text-align: center;
  margin: 30px 10px;
  font-size: 30px;
  font-family: 'Montserrat', sans-serif;
}

#player {
  max-width: 750px;
  width: 100%;
  margin-bottom: 30px;
}

#calls-player {
  display: none;
}


/* 
 * Callguide
 */

#callguide-area {
  min-width: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#callguide {
  font-family: 'PT Sans', sans-serif;
  font-size: 1em;
  max-width: 1250px;
  /* top left/right bottom */
  padding: 15px 5px 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  border-radius: 10px;
  background-color: white;
}

.column {
  width: 50%;
  white-space: nowrap;
  min-width: 0px;
  padding-right: 15px;
  padding-left: 15px;
}
#left {
  border-right: 2px solid #cccccc;
}
#left .column-inner  {
  width: auto;
  display: inline-block;
  float: right;
}

/********* base attributes for callguide text **********/

.atom {
  display: inline-block;
  transition: all 0.5s ease 0s;
  cursor: pointer;
}

/******* lyrics *****/

.lyrics {
  /* base style */
}
.lyrics.line-future {
  /* future color */
  color: #3d3d3d;
}
.lyrics.line-past {
  /* past color */
  color: #a5a5a5;
}
.lyrics.line-active:not(.karaoke) {
  /* non karaoke active - entire line is highlighted and italicized */
  font-style: italic;
  text-shadow: 3px 0px 3px #c4c4c4,
               0px 3px 3px #c4c4c4;
  color: black;
}
.lyrics.line-active.past.karaoke {
  /* karaoke active - current and past syllables are highlighted */
  font-style: italic;
  text-shadow: 0px 0px 2px #427dae,
               0px 0px 5px #023e70;
  /* default transition, each syllable has its own rate */
  transition: all 0.7s ease 0s; 
  color: white;
}
.lyrics.line-active.active.karaoke {
  /* karaoke active - current and past syllables are highlighted */
  font-style: italic;
  text-shadow: 0px 0px 6px #043a69,
               0px 0px 4px #0b416f,
               0px 0px 4px #0b416f;
  /* default transition, each syllable has its own rate */
  transition: all 0.2s ease 0s; 
  color: white;
}
.lyrics.line-active.future.karaoke {
  /* karaoke active - same as regular future lines */
  color: #3d3d3d;
}

/******* calls *****/

.calls {
  /* base style */
  font-size: 0.9em;
  font-weight: 600;
  color: #e24400;
}
.calls.line-past {
  /* past style */
  color: #b5765c;
}
.calls.line-active.active,
.calls.line-active.past {
  /* active - highlighted and italicized */
  font-style: italic;
  text-shadow: 3px 0px 3px #ffb293,
               0px 3px 3px #ffb293;
  color: #e24400;
}


/******* instructions *****/

.instructions {
  /* base style */
  font-size: 0.9em;
  font-weight: 600;
  color: #9327cb;
}
.instructions.line-past {
  /* past style */
  color: #b181b6;
}
.instructions.line-active.active,
.instructions.line-active.past {
  /* active - highlighted and italicized */
  font-style: italic;
  text-shadow: 3px 0px 3px #b3a0ff,
               0px 3px 3px #b3a0ff;
  color: #9327cb;
}

/******* notes *****/

.notes {
  /* style */
  font-size: .9em;
  font-weight: 600;
  font-style: italic;
  color: #2751cb;
  cursor: text;
}

/* 
 * Media queries
 */


@media (max-width: 768px) {
  #player {
    max-width: 450px;
    width: 95%;
    margin-bottom: 30px;
  }
  #song-name {
    font-size: 24px;
  }
  .info-page {
    padding: 0px 20px 10px;
  }
  #callguide {
    display: block;
    width: 100%;
    padding: 15px 0px 30px;
  }
  .column {
    width: auto;
    white-space: normal;
    padding-right: 0px;
    padding-left: 0px;
    text-align:center;
  }
  #left {
    border-right: none;
  }
  #left .column-inner  {
    float: none;
  }
}
